<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body class="bg-secondary text-white">
    <header>
        <%- include('partials/header'); %>
    </header>

    <main class="container">
        <div class="mt-0 p-5">
            <h1>This is content</h1>
        </div>
    </main>

    <%- include('partials/scripts'); %>
</body>
</html>