<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body class="bg-secondary text-white">
<header>
    <%- include('partials/header'); %>
</header>

<main class="container">
<!--  Create centered loading screen using bootstrap  -->
    <div class="row justify-content-center">
        <div class="col-md-6">
                <div class="card-body">
                    <h1 class="text-center">Loading...</h1>
                </div>
        </div>
    </div>
</main>

<%- include('partials/scripts'); %>
</body>
</html>