.anchorjs-link {
    color: #A9A9A9FF;
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.anchorjs-link:hover {
    color: #d5d5d5;
}

code {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 0.2em 0.4em;
}